networks:
  default:
    driver: bridge
    name: roboshop
    external: false # true if network is created manually using docker network create

services:
  mongodb:
    build:
      context: ./mongodb
      dockerfile: Dockerfile
    image: aravind527/mongodb:v1
    container_name: mongodb
    volumes:
      - mongodb:/data/db

  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    image: aravind527/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  
  redis:
    image: redis:v1
    container_name: redis
    volumes:
    - redis:/data

  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile
    image: mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123

  user:
    build:
      context: ./user
      dockerfile: Dockerfile
    image: aravind527/user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis

  cart:
    build:
      context: ./cart
      dockerfile: Dockerfile
    image: aravind527/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue

  shipping:
    build:
      context: ./shipping
      dockerfile: Dockerfile
    image: aravind527/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart

  payment:
    build:
      context: ./payment
      dockerfile: Dockerfile
    image: aravind527/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - user
    - cart

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: aravind527/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
      - catalogue
      - cart
      - user
      - shipping
      - payment

volumes:
  mongodb: # equivalent to docker volume create mongodb. /var/lib/docker/volumes
  redis:
  mysql:
  rabbitmq:


       
